{% extends 'base.html.twig' %}

{% block body %}
    <h1>Facultades</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Departamentos</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for faculty in faculties %}
            <tr>
                <td><a href="{{ path('faculty_show', { 'id': faculty.id }) }}">{{ faculty.id }}</a></td>
                <td>{{ faculty.name }}</td>
                <td>
                    <ul>
                        {% for department in faculty.getDepartments() %}
                            <li>
                                {{ department.name }}
                            </li>
                        {% endfor %}
                    </ul>
                </td>
                <td>
                    <a href="{{ path('faculty_show', { 'id': faculty.id }) }}" class="btn btn-info btn-sm" role="button">Ver</a>
                    <a href="{{ path('faculty_edit', { 'id': faculty.id }) }}" class="btn btn-primary btn-sm" role="button">Editar</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('faculty_new') }}" class="btn btn-primary btn-sm" role="button">Ingresar Facultad</a>
    
{% endblock %}
