{% extends 'base.html.twig' %}

{% block body %}
    <h1>Facultad/Escuela</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ faculty.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ faculty.name }}</td>
            </tr>
        </tbody>
    </table>

        <a href="{{ path('faculty_edit', { 'id': faculty.id }) }}" class="btn btn-primary btn1" role="button" >Editar Facultad/Escuela</a>

        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('faculty_index') }}" class="btn btn-info btn1" role="button" >Ver Facultades/Escuelas</a>

            {{ form_start(delete_form) }}
                <input type="submit" value="Eliminar" class="btn btn-danger btn2" role="button">
            {{ form_end(delete_form) }}
        {% endif %}
{% endblock %}
