{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/css/select2.min.css" rel="stylesheet" />
{% endblock %}


{% block body %}
    <h1>Editar Departamento</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" class="btn btn-primary btn1" role="button" value="Editar" />
    {{ form_end(edit_form) }}

    <a href="{{ path('department_index') }}" class="btn btn-info btn2" role="button" >Departamentos</a>

    {% if is_granted('ROLE_ADMIN') %}
        {{ form_start(delete_form) }}
            <input type="submit" value="Eliminar" class="btn btn-danger btn3" role="button">
        {{ form_end(delete_form) }}
    {% endif %}


<script type="text/javascript">

window.onload = function() {
	
 	$(".js-basic-single").select2({
 		placeholder: "Seleccione la Facultad/Escuela",
  		allowClear: false
 	});

   var x = document.getElementsByClassName("select2-container");
   x[0].style.width = "100%";
};

</script>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/js/select2.min.js"></script>        
{% endblock %}
