{% extends 'base.html.twig' %}

{% block body %}
    <h1>Investigaciones</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Sigla</th>
                <th>Sección</th>
                <th>Fecha de creación</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for research in researches %}
            <tr>
                <td><a href="{{ path('research_show', { 'id': research.id }) }}">{{ research.id }}</a></td>
                <td>{{ research.initialsCode }}{{ research.numbersCode }}</td>
                <td>{{ research.section }}</td>
                <td>{% if research.creationDate %}{{ research.creationDate|date('Y-m-d') }}{% endif %}</td>
                <td><a href="{{ path('research_show', { 'id': research.id }) }}" class="btn btn-info btn-sm" role="button">Ver</a></td>
                {% if is_granted('ROLE_MENTOR') %}
                    <td><a href="{{ path('research_edit', { 'id': research.id }) }}" class="btn btn-primary btn-sm" role="button">Editar</a></td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('research_new') }}" class="btn btn-primary btn-sm" role="button">Crear Nueva Investigación</a>
    {% endif %}
   
{% endblock %}
