{% extends 'base.html.twig' %}

{% block body %}
    <h1>Investigación</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id:</th>
                <td>{{ research.id }}</td>
            </tr>
            <tr>
                <th>Sigla:</th>
                <td>{{ research.initialsCode }}{{ research.numbersCode }}</td>
            </tr>
            <tr>
                <th>Sección:</th>
                <td>{{ research.section }}</td>
            </tr>
            <tr>
                <th>Fecha de Creación:&nbsp;&nbsp;</th>
                <td>{% if research.creationDate %}{{ research.creationDate|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Fecha de Creación de la Oportunidad:&nbsp;&nbsp;</th>
                <td>{% if research.creationDateOP %}{{ research.creationDateOP|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Nombre:</th>
                <td>{{ research.nameOP }}</td>
            </tr>
            <tr>
                <th>Descripción:</th>
                <td>{{ research.descriptionOP }}</td>
            </tr>
            <tr>
                <th>Modalidad:</th>
                <td>{{ research.modalityOP }}</td>
            </tr>
                <ul>
                    {% for mentorName in research.getMentorsName() %}
                        <li>
                            {{ mentorName }}
                        </li>
                    {% endfor %}
                </ul>
            <tr>
                <th>Estudiante:</th>
                <td></td>
            </tr>
            <tr>
                <th>Keywords:</th>
                <td>
                    <ul>
                        {% for keyword in research.oportunityKeywords() %}
                            <li>
                                {{ keyword.keyword }}
                            </li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
            <tr>
                <th>Prerequisitos:</th>
                <td>
                    <ul>
                        {% for prerequisite in research.prerequisites() %}
                            <li>
                                {{ prerequisite.courseNumber }}
                            </li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>


    <a href="{{ path('research_index') }}" class="btn btn-info btn1" role="button" >Investigaciones</a>
    <a href="{{ path('research_edit', { 'id': research.id }) }}" class="btn btn-primary btn2" role="button">Editar</a>
    {{ form_start(delete_form) }}
        <input type="submit" value="Eliminar" class="btn btn-danger btn2" role="button">
    {{ form_end(delete_form) }}

{% endblock %}
