{% extends 'base.html.twig' %}

{% block body %}
    <h1>Editar Deadline</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" class="btn btn-primary btn1" role="button" value="Editar" />
    {{ form_end(edit_form) }}

    <a href="{{ path('deadline_index') }}" class="btn btn-info btn2" role="button" >Ver fechas</a>
    
    {{ form_start(delete_form) }}
        <input type="submit" value="Eliminar" class="btn btn-danger btn3" role="button">
    {{ form_end(delete_form) }}


<script type="text/javascript">	

window.onload = function() {

	$("#deadline_month").on('change', function(){
		month = document.getElementById("deadline_month").value;

		if( (month & 1) && (month < 8) || !(month & 1) && (month >= 8))
		{
		    // 31
		    document.getElementById("deadline_day").max = 31;
		}
		else
		{
		    // 30
		    document.getElementById("deadline_day").max = 30;
		    if(document.getElementById("deadline_day").value > 30)
		    	document.getElementById("deadline_day").value = 30;
		}

		if(month == 2)
		{
			document.getElementById("deadline_day").max = 28;
		    if(document.getElementById("deadline_day").value > 28)
		    	document.getElementById("deadline_day").value = 28;
		}
	});
}

</script>
    
{% endblock %}
