{% extends 'base.html.twig' %}

{% block body %}
    <h1>Deadlines</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Fecha</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for deadline in deadlines %}
            <tr>
                <td><a href="{{ path('deadline_show', { 'id': deadline.id }) }}">{{ deadline.id }}</a></td>
                <td>{{ deadline.name }}</td>
                <td>{% if deadline.date %}{{ deadline.date|date('d-M') }}{% endif %}</td>
                <td><a href="{{ path('deadline_show', { 'id': deadline.id }) }}" class="btn btn-info btn-sm" role="button">Ver</a></td>
                <td><a href="{{ path('deadline_edit', { 'id': deadline.id }) }}" class="btn btn-primary btn-sm" role="button">Editar</a></tr>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    <a href="{{ path('deadline_new') }}" class="btn btn-primary btn-sm" role="button">Crear Nueva</a>
{% endblock %}
