{% extends 'base.html.twig' %}

{% block body %}
    <h1>Fecha Limite</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ deadline.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ deadline.name }}</td>
            </tr>
            <tr>
                <th>Dia</th>
                <td>{{ deadline.day }}</td>
            </tr>
            <tr>
                <th>Mes</th>
                <td>{{ deadline.month }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('deadline_index') }}" class="btn btn-info btn1" role="button" >Ver Listado</a>
    <a href="{{ path('deadline_edit', { 'id': deadline.id }) }}" class="btn btn-primary btn2" role="button">Editar</a>
        {{ form_start(delete_form) }}
            <input type="submit" value="Eliminar" class="btn btn-danger btn2" role="button">
        {{ form_end(delete_form) }}

{% endblock %}
