{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    

    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/css/select2.min.css" rel="stylesheet" />


{% endblock %}

{% block body %}
    <h1>Editar Oportunidad</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}

        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
		  <div class="panel panel-default">
		    <div class="panel-heading" role="tab" id="headingOne">
		      <h4 class="panel-title">
		        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
		          Agregar un Segundo Mentor
		        </a>
		      </h4>
		    </div>
		    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
		      <div class="panel-body">
		        {{ form_widget(secondaryForm) }}

		        *Aunque cierre esta pestaña, si escogio un mentor sera agregado, si no quiere agregar uno, dejelo en blanco

		      </div>
		    </div>
		  </div>
		  <div class="panel panel-default">
		    <div class="panel-heading" role="tab" id="headingTwo">
		      <h4 class="panel-title">
		        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
		          Agregar un Tercer Mentor 
		        </a>
		      </h4>
		    </div>
		    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
		      <div class="panel-body">
		      	{{ form_widget(thertiaryForm) }}
		        *Aunque cierre esta pestaña, si escogio un mentor sera agregado, si no quiere agregar uno, dejelo en blanco
		      </div>
		    </div>
		  </div>
		</div>
		</br>
		
		</br>
		</br>
		

        <input type="submit" class="btn btn-primary btn1" role="button" value="Editar" />
    {{ form_end(edit_form) }}

    <a href="{{ path('oportunityresearch_index') }}" class="btn btn-info btn2" role="button" >Listar Oportunidades</a>
    {{ form_start(delete_form) }}
        <input type="submit" value="Eliminar" class="btn btn-danger btn3" role="button">
    {{ form_end(delete_form) }}


<script type="text/javascript">	

window.onload = function() {
	
 	$(".js-example-tokenizer").select2({
  	tags: true,
  	tokenSeparators: [',']
})
   var x = document.getElementsByClassName("select2-container");
   x[0].style.width = "100%"

	$('#secondary_mentor_secondaryMentor').on('change', function() {
		var ter = document.getElementById("thertiary_mentor_thertiaryMentor");

		if (ter.value == this.value)
		{
			var repeteadText = this.options[this.selectedIndex].text;

  			alert( repeteadText + "Ya ha sido seleccionado, porfavor seleccione otro mentor" );
  			this.selectedIndex = 0;
		}
	})

	$('#thertiary_mentor_thertiaryMentor').on('change', function() {
		var ter = document.getElementById("secondary_mentor_secondaryMentor");

		if (ter.value == this.value)
		{
			var repeteadText = this.options[this.selectedIndex].text;

  			alert( repeteadText + "Ya ha sido seleccionado, porfavor seleccione otro mentor" );
  			this.selectedIndex = 0;
		}
	})
};

</script>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/js/select2.min.js"></script>
        
{% endblock %}