{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    

    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/css/select2.min.css" rel="stylesheet" />


{% endblock %}


{% block body %}
	

	
    <h1>Nueva Oportunidad</h1>

    {{ form_start(form) }}
    <div class="row">
		<div class="col-md-6 group-form">
	    	{% for child in form.children %}
	    		{% if 'token' not in form_label(child) %}
					{% if 'left-column-form' in child.vars['attr']['class'] %}
						{{ form_label(child) }}
						{{ form_widget(child) }}
					{% endif %} 
				{% endif %}
			{% endfor %}
		</div>
  		<div class="col-md-1">
  		</div>
  		<div class="col-md-3 group-form">
  			{% for child in form.children %}
  				{% if 'token' not in form_label(child) %}
		  			{% if 'right-column-form' in child.vars['attr']['class'] %}
						{{ form_label(child) }}
						{{ form_widget(child) }}
					{% endif %} 
				{% else %}	
					{{ form_widget(child) }}
				{% endif %}
			{% endfor %}
  		</div>

	</div>

        <input type="submit" class="btn btn-primary btn1" role="button" value="Crear" />
    {{ form_end(form) }}





 
    <a href="{{ path('oportunityresearch_index') }}" class="btn btn-info btn2" role="button">Lista de Oportunidades</a>

    <!-- CMD Modals -->
	<div class="modal fade" id="ableCMDModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel">Cursos CMD</h4>
	      </div>
	      <div class="modal-body">
	        	Al tener almenos dos mentores de diferente Facultades/Escuela, esta oportunidad califica para ser CMD, puede seleccionar la opcion en el checkbox correspondiente
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Gracias</button>
	      </div>
	    </div>
	  </div>
	</div>

	<div class="modal fade" id="disableCMDModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel">Cursos CMD</h4>
	      </div>
	      <div class="modal-body">
	        	Ya no cumple con requisitos para ser CMD, para poder volver a habilitar la opcion debe tener almenos dos mentores de diferente Facultades/Escuela
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Gracias</button>
	      </div>
	    </div>
	  </div>
	</div>

<script type="text/javascript">

window.onload = function() {

	setSelectResponsibleChoices();

	$("#oportunity_research_cmd").on('click', function(){
		if(!canBeCMD && !$('#CMDAlert').length)
			alertCMDMessage();
	});
	
	$(".js-basic-single").select2({
 		placeholder: "Seleccione el departamento",
  		allowClear: false
 	})
	
	$.fn.select2.defaults.defaults['language'].inputTooLong = function(){
  		return 'Input demasiado largo.';
	};

 	$(".js-example-tokenizer").select2({
	  	tags: true,
	  	tokenSeparators: [','],
	  	maximumInputLength: 20,
	  	casesensitive: false,
	  	createTag: function(newTag) {
	  		if(/^\d.*/.test(newTag.term))
		        return {
		            id: 'k' + newTag.term,
		            text: 'k' + newTag.term
		        };
	        else
	        	return {
	            id: newTag.term,
	            text: newTag.term
	        };

	    }
	})

 	$(".js-tokenizer").select2({
	  	tags: true,
	  	tokenSeparators: [','],
	  	maximumInputLength: 10,
	  	casesensitive: false,
	  	createTag: function(params) {
	        var term = $.trim(params.term);

	        return {id: term.toUpperCase(), text: term.toUpperCase()};
	      }
	})

 	$(".js-basic-single-secondaryMentor").select2({
 		placeholder: "Seleccione un mentor",
  		allowClear: true
 	})

 	$(".js-basic-single-thertiaryMentor").select2({
 		placeholder: "Seleccione un mentor",
  		allowClear: true
 	})

   	setWidth();

	checkCMD();

	$('#secondary_mentor_secondaryMentor').on('change', function() {
		var ter = document.getElementById("thertiary_mentor_secondaryMentor");

		if (ter.value == this.value)
		{
			var repeteadText = this.options[this.selectedIndex].text;

  			alert( repeteadText + "Ya ha sido seleccionado, porfavor seleccione otro mentor" );
  			this.selectedIndex = 0;
		}

	})

	$('#thertiary_mentor_thertiaryMentor').on('change', function() {
		var ter = document.getElementById("secondary_mentor_secondaryMentor");

		if (ter.value == this.value)
		{
			var repeteadText = this.options[this.selectedIndex].text;

  			alert( repeteadText + "Ya ha sido seleccionado, porfavor seleccione otro mentor" );
  			this.selectedIndex = 0;
		}

	})

	$('#oportunity_research_secondaryMentor').on('change', function() {
		enableAllThertiary();
		var value = document.getElementById("oportunity_research_secondaryMentor").value;
		$("#oportunity_research_thertiaryMentor>option[value='"+value+"']").prop('disabled',true);
		$("#oportunity_research_thertiaryMentor").select2();
		setWidth();
		checkCMD();
		setSelectResponsibleChoices();
	});

	$('#oportunity_research_thertiaryMentor').on('change', function() {
		enableAllSecondary();
		var value = document.getElementById("oportunity_research_thertiaryMentor").value;
		$("#oportunity_research_secondaryMentor>option[value='"+value+"']").prop('disabled',true);
		$("#oportunity_research_secondaryMentor").select2();
		setWidth();
		checkCMD();
		setSelectResponsibleChoices();
	});
};

function checkCMD()
{
	javascript_array = {{ mentorFacutly|json_encode|raw }};
	mentorFacutly = [];
	for	(index = 0; index < javascript_array.length; index++) {
		var pair = javascript_array[index];
	    mentorFacutly[pair['mid']] = pair['fid'];
	}

	//ya con el array cargado revisamos si los mentores corresponden a diferente facultades
	currentMentorId = {{ currentMentorId|raw }};
	canBeCMD = false;

	smid = document.getElementById("oportunity_research_secondaryMentor").value;
	if(smid > 0)
	{
		if(mentorFacutly[smid] != mentorFacutly[currentMentorId])
		{
			canBeCMD = true;
		}
	}

	tmid = document.getElementById("oportunity_research_thertiaryMentor").value;
	if(tmid > 0)
	{
		if(mentorFacutly[tmid] != mentorFacutly[currentMentorId])
		{
			canBeCMD = true;
		}

		if(smid > 0)
		{
			if(mentorFacutly[smid] != mentorFacutly[tmid])
			{
				canBeCMD = true;
			}
		}
	}

	isCMD = document.getElementById("oportunity_research_cmd").checked;	

	if(!canBeCMD)
	{
		if(isCMD)
		{
			//alert("ya no cumple con requisitos para ser CMD, para poder volver a habilitar la opcion debe tener almenos dos mentores de diferente facultad");
			$('#disableCMDModal').modal('show');
		}
		document.getElementById("oportunity_research_cmd").checked = false;	
		document.getElementById("oportunity_research_cmd").setAttribute("onclick","return false;")
	}

	if(canBeCMD && !isCMD)
	{
		$('#ableCMDModal').modal('show');
		//alert("al tener almenos dos mentores de diferente facultad, esta oportunidad califica para ser CMD, puede seleccionar la opcion en el checkbox correspondiente");
		document.getElementById("oportunity_research_cmd").setAttribute("onclick","")
		if($('#CMDAlert').length)
			$('#CMDAlert').remove();
	}
}

function alertCMDMessage()
{
	var div = document.createElement('div');
	div.innerHTML = '<div id="CMDAlert" class="alert alert-warning alert-dismissible" role="alert">'+
  		'<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>'+
  		'<strong>Recuerde!</strong> Esta opcion solo esta disponible para oportunidades con dos o mas mentores de diferente Facultades/Escuela.'+
  		'</div>';
	document.getElementById("oportunity_research_cmd").parentElement.appendChild(div);
}

function setSelectResponsibleChoices()
{
	//mostramos todas las opciones y luego escogemos cual esconder
	$("#oportunity_research_responsibleMentor option").show();

	//vemos si hay secondario
	if(document.getElementById("oportunity_research_secondaryMentor").value > 0 )
		$("#oportunity_research_responsibleMentor option[value=2]").text($("#oportunity_research_secondaryMentor option:selected").text());		
	else
	{
		$("#oportunity_research_responsibleMentor option[value=2]").hide();
		if(document.getElementById("oportunity_research_responsibleMentor").value == 2)
			document.getElementById("oportunity_research_responsibleMentor").value = 1;
	}

	//vemos si hay terciario
	if(document.getElementById("oportunity_research_thertiaryMentor").value > 0 )
		$("#oportunity_research_responsibleMentor option[value=3]").text($("#oportunity_research_thertiaryMentor option:selected").text());		
	else
	{
		$("#oportunity_research_responsibleMentor option[value=3]").hide();
		if(document.getElementById("oportunity_research_responsibleMentor").value == 3)
			document.getElementById("oportunity_research_responsibleMentor").value = 1;
	}
}

function setWidth()
{
	var x = document.getElementsByClassName("select2-container");
	x[2].style.marginBottom= "20px";

	for (i = 0; i<x.length; i++)
	{
		x[i].style.width = "100%";
	}
}

function enableAllThertiary()
{
	$("#oportunity_research_thertiaryMentor>option").prop('disabled',false);
	$("#oportunity_research_thertiaryMentor>option").removeProp('disabled'); 
	$("#oportunity_research_thertiaryMentor>option").select2(); 
}

function enableAllSecondary()
{
	$("#oportunity_research_secondaryMentor>option").prop('disabled',false);
	$("#oportunity_research_secondaryMentor>option").removeProp('disabled'); 
	$("#oportunity_research_secondaryMentor>option").select2(); 
}

</script>


{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/js/select2.min.js"></script>
        
{% endblock %}
