{% extends 'base.html.twig' %}

{% block body %}
    <h1>Oportunidad de Investigación</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id:</th>
                <td>{{ oportunityResearch.id }}</td>
            </tr>
            <tr>
                <th>Fecha de Creación:&nbsp;&nbsp;</th>
                <td>{% if oportunityResearch.creationDate %}{{ oportunityResearch.creationDate|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Nombre:</th>
                <td>{{ oportunityResearch.name }}</td>
            </tr>
            <tr>
                <th>Descripción:</th>
                <td>{{ oportunityResearch.description }}</td>
            </tr>
            <tr>
                <th>Vacantes Disponibles:</th>
                <td>{{ vacants }}/{{ oportunityResearch.vacants }}</td>
            </tr>
            <tr>
                <th>Departamento:</th>
                <td>{{ oportunityResearch.department.name }}</td>
            </tr>
            <tr>
                <th>Postulaciones:</th>
                <td>{{ oportunityResearch.applications|length }} <a href="{{ path('oportunityresearch_applications', { 'id': oportunityResearch.id }) }}">(ver)</a></td>
            </tr>
            <tr>
                <th>Público:</th>
                <td>{% if oportunityResearch.public %}Si{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Modalidad:</th>
                <td>{{ oportunityResearch.getModalityText() }}</td>
            </tr>
            <tr>
                <th>Keywords:</th>
                <td>
                    <ul>
                        {% for keyword in oportunityResearch.oportunityKeywords() %}
                            <li>
                                {{ keyword.keyword }}
                            </li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
            <tr>
                <th>Siglas prerequisitos:</th>
                <td>
                    <ul>
                        {% for prerequisite in oportunityResearch.prerequisites() %}
                            <li>
                                {{ prerequisite.courseNumber }}
                            </li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
            <tr>
                <th>Mentor{% if (oportunityResearch.getMentorsName())|length > 1 %}(es){% endif %}:</th>
                <td>
                    <ul>
                        {% for mentorName in oportunityResearch.getMentorsName() %}
                            <li>
                                {{ mentorName }}
                            </li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>


    <a href="{{ path('listOportunities') }}" class="btn btn-info btn1" role="button" >Listar Oportunidades</a>

    {% if owner %}
        <a href="{{ path('oportunityresearch_index') }}" class="btn btn-info btn1" role="button" >Mis Oportunidades</a>
        <a href="{{ path('oportunityresearch_edit', { 'id': oportunityResearch.id }) }}" class="btn btn-primary btn2" role="button">Editar</a>
        {{ form_start(delete_form) }}
            <input type="submit" value="Eliminar" class="btn btn-danger btn2" role="button">
        {{ form_end(delete_form) }}
    {% endif %}

    {% if is_granted(['ROLE_STUDENT']) %}
        {% if vacants > 0 %}
            <form action="{{ path('application_new') }}" method="post">
                <input type="hidden" name="oportunityId" value="{{ oportunityResearch.Id }}">
                <input type="submit" value="Aplicar" class="btn btn-primary btn1" role="button">
            </form>
        {% endif %}
    {% endif %}

{% endblock %}