{% extends 'base.html.twig' %}

{% block body %}
    <h1>Editar Usuario</h1>

    {{ form_start(edit_form) }}
	        
	    <div id="column-container" >
		  <div id="col-left" class="group-form">
		  	{{ form_widget(edit_form) }}
		  </div>

		  <div id="col-right" class="group-form">
		     {{ form_widget(student_form) }}
		  </div>
		</div>

	<input type="submit" class="btn btn-primary btn1" role="button" value="Editar" />
	{{ form_end(edit_form) }}


    

    {% if is_granted('ROLE_ADMIN') %}
	    <a href="{{ path('user_index') }}" class="btn btn-info btn2" role="button" >Usuarios</a>
	    {{ form_start(delete_form) }}
	        <input type="submit" value="Eliminar" class="btn btn-danger btn3" role="button">
	    {{ form_end(delete_form) }}
	{% endif %}

{% endblock %}
