{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    

    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/css/select2.min.css" rel="stylesheet" />


{% endblock %}

{% block body %}

    <h1>Editar Usuario</h1>

    {{ form_start(edit_form) }}
	        
	    <div id="column-container" >
		  <div id="col-left" class="group-form">

            {% if not edit_role %}
                <label>Rol: </label> {{ user.getRoleText()}}
            {% endif %}
		  	{{ form_widget(edit_form) }}
		  </div>

		  <div id="col-right" class="group-form">

			<div class="collapse" id="collapseAdmin">
				<h3>Felicitaciones, este es un usuario Administrador</h3>
			    
			</div>

			<div class="collapse" id="collapseStudent">
				<h3>Información del Estudiante</h3>
			    {{ form_widget(student_form) }}
			</div>

			<div class="collapse" id="collapseMentor">
				<h3>Información del Mentor</h3>
			    {{ form_widget(mentor_form) }}
			</div>

			<div class="collapse" id="collapseOther">
				<h3>Información de Otro usuario</h3>	
			    {{ form_widget(other_form) }}
			</div>
		  </div>

            {% if not edit_role %}

                <div id="col-right" class="group-form" style:"margin-top: 5px;">
                    <h3>Contraseña</h3>    
                    
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="changePass"> Cambiar Contraseña
                        </label>
                    </div>
                    {{ form_widget(password_form) }}
                </div>
            {% endif %}
		</div>

        

	<input type="submit" class="btn btn-primary btn1" role="button" value="Editar" onclick="return isValid();"/>
	{{ form_end(edit_form) }}


    

    {% if is_granted('ROLE_ADMIN') %}
	    <a href="{{ path('user_index') }}" class="btn btn-info btn2" role="button" >Usuarios</a>
	    {{ form_start(delete_form) }}
	        <input type="submit" value="Eliminar" class="btn btn-danger btn3" role="button">
	    {{ form_end(delete_form) }}
	{% endif %}

<script type="text/javascript">

window.onload = function() {

    addVerifierDigit();

    $('#myForm').on('submit', function(e){
        e.preventDefault();
        var len = $('#username').val().length;
        if (len < 6 && len > 1) {
            this.submit();
        }
    });


    $(".js-basic-single").select2({
        placeholder: "Seleccione el departamento",
        allowClear: false
    })

    var x = document.getElementsByClassName("select2-container");
    x[0].style.width = "100%";
    x[0].style.marginBottom= "20px";
    
    for (i = 0; i<x.length; i++)
    {
        x[i].style.width = "100%";
    }


        collapseJS();
    };

    var checker = document.getElementById('changePass');
    var pass1 = document.getElementById('change_password_plainPassword_first');
    var pass2 = document.getElementById('change_password_plainPassword_second');
    checker.onchange = function() {
    pass1.disabled = !this.checked;
    pass2.disabled = !this.checked;
};

function isValid()
{
    var rut = document.getElementById("user_rut").value + "-" + document.getElementById("vd").value;
    if(!validaRut(rut))
    { 
        alert("Rut no valido");
        document.getElementById("user_rut").focus();
    } 
    return validaRut(rut);
}


function addVerifierDigit()
{
    var t = document.createTextNode("-");
    document.getElementById("user_rut").parentElement.appendChild(t);

    var input = document.createElement("input");
    input.type = "text";
    input.id="vd"
    input.className = "form-control";
    input.style.width = "10%";
    input.style.display = "inline";
    input.style.marginLeft = "3px";
    document.getElementById("user_rut").parentElement.appendChild(input);

    document.getElementById("user_rut").style.width = "87%";
    document.getElementById("user_rut").style.display = "inline";
    document.getElementById("user_rut").style.marginRight = "3px";

    document.getElementById("user_rut").parentElement.childNodes[0].style.display = "block";

    if(document.getElementById("user_rut").value.length > 0)
    {
        input.value = dv(document.getElementById("user_rut").value);
    }
}


    // Valida el rut con su cadena completa "XXXXXXXX-X"
function validaRut(rutCompleto) 
{
    if (!/^[0-9]+-[0-9kK]{1}$/.test( rutCompleto ))
        return false;
    var tmp     = rutCompleto.split('-');
    var digv    = tmp[1]; 
    var rut     = tmp[0];
    if ( digv == 'K' ) digv = 'k' ;
    return (dv(rut) == digv );
}
function dv(T)
{
    var M=0,S=1;
    for(;T;T=Math.floor(T/10))
        S=(S+T%10*(9-M++%6))%11;
    return S?S-1:'k';
}  

function collapseJS()
{
	var selectedRol = $("#user_role").val();

	switch(selectedRol){
		case "ROLE_ADMIN":
			$("#collapseAdmin").collapse('show');
    		$("#collapseStudent").collapse('hide');
    		$("#collapseMentor").collapse('hide');
    		$("#collapseOther").collapse('hide');

			$("#collapseAdmin :input").attr("disabled", false);
    		$("#collapseStudent :input").attr("disabled", true);
    		$("#collapseMentor :input").attr("disabled", true);
    		$("#collapseOther :input").attr("disabled", true);

    		break;

		case "ROLE_STUDENT":
    		$("#collapseAdmin").collapse('hide');
    		$("#collapseStudent").collapse('show');
    		$("#collapseMentor").collapse('hide');
    		$("#collapseOther").collapse('hide');

    		$("#collapseAdmin :input").attr("disabled", true);
    		$("#collapseStudent :input").attr("disabled", false);
    		$("#collapseMentor :input").attr("disabled", true);
    		$("#collapseOther :input").attr("disabled", true);

    		break;

		case "ROLE_MENTOR":
    		$("#collapseAdmin").collapse('hide');
    		$("#collapseStudent").collapse('hide');
    		$("#collapseMentor").collapse('show');
    		$("#collapseOther").collapse('hide');

    		$("#collapseAdmin :input").attr("disabled", true);
    		$("#collapseStudent :input").attr("disabled", true);
    		$("#collapseMentor :input").attr("disabled", false);
    		$("#collapseOther :input").attr("disabled", true);
    		break;

		case "ROLE_OTHER":
    		$("#collapseAdmin").collapse('hide');
    		$("#collapseStudent").collapse('hide');
    		$("#collapseMentor").collapse('hide');
    		$("#collapseOther").collapse('show');

    		$("#collapseAdmin :input").attr("disabled", true);
    		$("#collapseStudent :input").attr("disabled", true);
    		$("#collapseMentor :input").attr("disabled", true);
    		$("#collapseOther :input").attr("disabled", false);

    		break;
    	}
}
</script>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/js/select2.min.js"></script>
        
{% endblock %}


