{% extends 'base.html.twig' %}

{% block body %}
    <h1>Usuario</h1>

    <table class="table" >
        <tbody>
            <tr>
                <th>Id:</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Rol de Usuario:</th>
                <td>{{ user.getRoleText()}}</td>
            </tr>

            {% if user.role == "ROLE_STUDENT" %}
                <tr>
                    <th>Facultad:</th>
                    <td>{{ user.student.department.getFaculty().name }}</td>
                </tr>
                <tr>
                    <th>Departamento:</th>
                    <td>{{ user.student.department.name }}</td>
                </tr>
            {% endif %}
            {% if user.role == "ROLE_MENTOR" %}
                <tr>
                    <th>Procedencia:</th>
                    <td>{% if user.mentor.uc %} Es mentor UC {% else %} no es mentor uc {% endif %} </td>
                </tr>
            {% endif %}
            {% if user.role == "ROLE_OTHER" %}
                <tr>
                    <th>Descripción:</th>
                    <td>{{ user.other.description }}</td>
                </tr>
            {% endif %}

            <tr>
                <th>Nombre de Usuario: &nbsp;&nbsp;</th>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <th>Rut:</th>
                <td>{{ user.rut }}</td>
            </tr>
            <tr>
                <th>Nombre:</th>
                <td>{{ user.name }}</td>
            </tr>
            <tr>
                <th>Segundo Nombre:</th>
                <td>{{ user.middleName }}</td>
            </tr>
            <tr>
                <th>Apellido Paterno:</th>
                <td>{{ user.lastName }}</td>
            </tr>
            <tr>
                <th>Apellido Materno:</th>
                <td>{{ user.secondSurname }}</td>
            </tr>
            <tr>
                <th>Email:</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Telefono:</th>
                <td>{{ user.phone }}</td>
            </tr>
        </tbody>
    </table>


    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('user_index') }}" class="btn btn-info btn1" role="button" >Usuarios</a>
    {% endif %}

    {% if editButton %}
        <a href="{{ path('user_edit', { 'id': user.id }) }}" class="btn btn-primary btn2" role="button">Editar</a>
    {% endif %}

    {% if is_granted('ROLE_ADMIN') %}
        {{ form_start(delete_form) }}
            <input type="submit" value="Eliminar" class="btn btn-danger btn2" role="button">
        {{ form_end(delete_form) }}
    {% endif %}

{% endblock %}
