{% extends 'base.html.twig' %}

{% block body %}
    <h1>Usuario</h1>

    <table>
        <tbody>
            <tr>
                <th>Id:</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Tipo de Usuario:</th>
                <td>{{ user.userType }}</td>
            </tr>
            <tr>
                <th>Nombre de Usuario: &nbsp;&nbsp;</th>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <th>Rut:</th>
                <td>{{ user.rut }}</td>
            </tr>
            <tr>
                <th>Nombre:</th>
                <td>{{ user.name }}</td>
            </tr>
            <tr>
                <th>Segundo Nombre:</th>
                <td>{{ user.middleName }}</td>
            </tr>
            <tr>
                <th>Apellido Paterno:</th>
                <td>{{ user.lastName }}</td>
            </tr>
            <tr>
                <th>Apellido Materno:</th>
                <td>{{ user.secondSurname }}</td>
            </tr>
            <tr>
                <th>Email:</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Telefono:</th>
                <td>{{ user.phone }}</td>
            </tr>
            <tr>
                <th>Path a la foto:</th>
                <td>{{ user.picture }}</td>
            </tr>
        </tbody>
    </table>

    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('user_index') }}" class="btn btn-info btn1" role="button" >Usuarios</a>
    {% endif %}
    <a href="{{ path('user_edit', { 'id': user.id }) }}" class="btn btn-primary btn2" role="button">Editar</a>
    {% if is_granted('ROLE_ADMIN') %}
        {{ form_start(delete_form) }}
            <input type="submit" value="Eliminar" class="btn btn-danger btn2" role="button">
        {{ form_end(delete_form) }}
    {% endif %}

{% endblock %}
