{% extends 'base.html.twig' %}

{% block body %}
    <h1>Lista de Aplicaciones</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Estado</th>
                <th>Fecha de aplicación</th>
                <th>Última Actualización</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for application in applications %}
            <tr>
                <td><a href="{{ path('application_show', { 'id': application.id }) }}">{{ application.id }}</a></td>
                <td>{{ application.state }}</td>
                <td>{% if application.applicationDate %}{{ application.applicationDate|date('Y-m-d') }}{% endif %}</td>
                <td>{% if application.lastUpdateDate %}{{ application.lastUpdateDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td><a href="{{ path('application_show', { 'id': application.id }) }}" class="btn btn-info btn1" role="button">Ver</a></td>
                <td><a href="{{ path('application_edit', { 'id': application.id }) }}" class="btn btn-primary btn1" role="button">Editar</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('application_new') }}" class="btn btn-primary btn1" role="button">Nueva Aplicación</a>
{% endblock %}
