{% extends 'base.html.twig' %}

{% block body %}
    <h2>Resumen Aplicación a Oportunidad de Investigación</h2>

    <label>Alumno:</label> 
    <input type="email" class="form-control" value="{{ students_name}}" readonly="true">
    <label>Oportunidad:</label> 
    <input type="email" class="form-control" value="{{ oportunity_name}}" readonly="true">

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" class="btn btn-primary btn1"  value="Aplicar" />
    {{ form_end(form) }}

    <a href="{{ path('application_index') }}" class="btn btn-info btn2" role="button" >Ver listado</a>
{% endblock %}
