{% extends 'base.html.twig' %}

{% block body %}
    <h1>Applicación {{ application.id }}</h1>

    <table>
        <tbody>
            <tr>
                <th>Estado: </th>
                <td>{{ application.state }}</td>
            </tr>
            <tr>
                <th>Fecha de aplicación: </th>
                <td>{% if application.applicationDate %}{{ application.applicationDate|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Ultima Actualización: &nbsp;&nbsp;</th>
                <td>{% if application.lastUpdateDate %}{{ application.lastUpdateDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

            <a href="{{ path('application_index') }}" class="btn btn-info btn1" role="button" >Listar Aplicaciones</a>
            <a href="{{ path('application_edit', { 'id': application.id }) }}" class="btn btn-primary btn2" role="button" >Editar</a>
            {{ form_start(delete_form) }}
                <input type="submit" value="Eliminar" class="btn btn-danger btn3" role="button">
            {{ form_end(delete_form) }}
{% endblock %}
