{% extends 'base.html.twig' %}

{% block body %}
    <h1>Requisitos</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Descripción</th>
                <th>Tipo</th>
                <th>Funcion</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody id="paginable">
        {% for requirement in requirements %}
            <tr>
                <td><a href="{{ path('requirement_show', { 'id': requirement.id }) }}">{{ requirement.id }}</a></td>
                <td>{{ requirement.description }}</td>
                <td>{{ requirement.getTextType() }}</td>
                <td>{{ requirement.function }}</td>
                <td><a href="{{ path('requirement_show', { 'id': requirement.id }) }}" class="btn btn-info btn-sm" role="button">Ver</a></td>
                <td><a href="{{ path('requirement_edit', { 'id': requirement.id }) }}" class="btn btn-primary btn-sm" role="button">Editar</a></tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('requirement_new') }}" class="btn btn-primary btn-sm" role="button">Crear Requisito</a>

{% endblock %}
