{% extends 'base.html.twig' %}

{% block body %}
    <h1>Requisito </h1>

    <table>
        <tbody>
            <tr>
                <th>Id:</th>
                <td>{{ requirement.id }}</td>
            </tr>
            <tr>
                <th>Descripción: &nbsp;&nbsp;</th>
                <td>{{ requirement.description }}</td>
            </tr>
            <tr>
                <th>Tipo:</th>
                <td>{{ requirement.getTextType() }}</td>
            </tr>
            <tr>
                <th>Funcion:</th>
                <td>{{ requirement.function }}</td>
            </tr>
        </tbody>
    </table>


    <a href="{{ path('requirement_index') }}" class="btn btn-info btn1" role="button" >Requisitos</a>
    <a href="{{ path('requirement_edit', { 'id': requirement.id }) }}" class="btn btn-primary btn2" role="button">Editar</a>
    {{ form_start(delete_form) }}
        <input type="submit" value="Eliminar" class="btn btn-danger btn2" role="button">
    {{ form_end(delete_form) }}
{% endblock %}
