{% extends 'base.html.twig' %}

{% block body %}
    <h1>Requirement</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ requirement.id }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ requirement.description }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ requirement.type }}</td>
            </tr>
            <tr>
                <th>Function</th>
                <td>{{ requirement.function }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('requirement_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('requirement_edit', { 'id': requirement.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
