{% extends 'base.html.twig' %}

{% block body %}
    <h1>Pendientes</h1>

    Aquí encontrará los items que requieren su atención

    <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#Postulaciones" aria-controls="Postulaciones" role="tab" data-toggle="tab">Postulaciones ({{applications|length}})</a></li>
        <li role="presentation"><a href="#Oportunidades" aria-controls="Oportunidades" role="tab" data-toggle="tab">Oportunidades ({{ oportunityResearches |length}})</a></li>        
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="Postulaciones">

		    <table class="table table-striped">
		        <thead>
		            <tr>
		                <th>Id</th>
		                <th>Oportunidad</th>
		                {% if is_granted(['ROLE_MENTOR']) %}
		                    <th>Alumno</th>
		                {% endif %}
		                {% if is_granted([  'ROLE_STUDENT']) %}
		                    <th>Mentor</th>
		                {% endif %}
		                <th>Estado</th>
		                <th>Fecha de Postulación</th>
		                <th>Última Actualización</th>
		                <th></th>
		            </tr>
		        </thead>
		        <tbody id="paginable">
		        {% for application in applications %}
		            <tr>
		                <td><a href="{{ path('application_show', { 'id': application.id }) }}">{{ application.id }}</a></td>
		                <td>{{ application.oportunityResearch.getName() }}</td>
		                {% if is_granted(['ROLE_MENTOR']) %}
		                    <td>{{ application.student.getNameText() }}</td>
		                {% endif %}
		                {% if is_granted(['ROLE_STUDENT']) %}
		                    <td>
		                        <ul>
		                            {% for mentorName in application.oportunityResearch.getMentorsName() %}
		                                <li>
		                                    {{ mentorName }}
		                                </li>
		                            {% endfor %}
		                        </ul>
		                    </td>
		                {% endif %}
		                <td>{{ application.getStateText() }}</td>
		                <td>{% if application.applicationDate %}{{ application.applicationDate|date('d/M/y') }}{% endif %}</td>
		                <td>{% if application.lastUpdateDate %}{{ application.lastUpdateDate|date('d/M/y H:i:s') }}{% endif %}</td>
		                <td><a href="{{ path('application_show', { 'id': application.id }) }}" class="btn btn-info btn1" role="button">Ver</a></td>
		            </tr>
		        {% endfor %}
		        </tbody>
		    </table>
		    </div>
        	<div role="tabpanel" class="tab-pane" id="Oportunidades">
        		Oportunidades por publicar:
        		<table class="table table-striped">
			        <tbody id="paginable2">
			        {% for oportunityResearch in oportunityResearches %}
			            <tr>
			                <td style="width: 90px;">
			                    {% if oportunityResearch.creationDate %}{{ oportunityResearch.creationDate|date('d-m-Y') }}{% endif %}
			                    </td>
			                <td>
			                    <a href="{{ path('oportunityresearch_show', { 'id': oportunityResearch.id }) }}">
			                        <strong style="font-size:13pt;" >{{ oportunityResearch.name }}</strong>
			                    </a>
			                    <br>
			                    {{ oportunityResearch.description }}
			                    <div class="tagline" style="margin-top:10px;">
			                        Keywords: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
			                        {% for keyword in oportunityResearch.oportunityKeywords() %}
			                            <a href="{{ path('oportunityresearch_search')}}?keyword={{keyword.keyword}}" role="button" class="btn btn-default btn-xs">{{ keyword.keyword }}</a>
			                        {% endfor %}
			                    </div>
			                    <div class="tagline">
			                        Prerequisitos:&nbsp;
			                        {% if oportunityResearch.prerequisites() |length == 0 %} no tiene.{% endif %}
			                        {% for prerequisite in oportunityResearch.prerequisites() %}
			                            <a href="{{ path('oportunityresearch_search')}}?prerequisite={{prerequisite.courseNumber}}" role="button" class="btn btn-danger btn-xs">{{ prerequisite.courseNumber }}</a>
			                        {% endfor %}
			                    </div>
			                    <p style="font-size:10pt; color:grey;">
			                        Tiene un método de evaluación {{ oportunityResearch.getModalityText() }}, con <a href="{{ path('oportunityresearch_applications', { 'id': oportunityResearch.id }) }}">{{ oportunityResearch.applications|length }}</a> postulaciones, tiene {{ oportunityResearch.getOpenVacants() }}/{{ oportunityResearch.vacants }} vacantes disponibles
			                    </p>
			                </td>
			                
			                
			                <td style="width:200px">
			                    Mentor(es):
			                    <ul style="padding-left:18px;">
			                        {% for mentor in oportunityResearch.getMentors() %}
			                            <li>
			                                <a href="{{ path('oportunityresearch_search')}}?mentor={{mentor.id}}">{{ mentor.getShowName() }}</a>
			                            </li>
			                        {% endfor %}
			                    </ul>
			                </td>
			                <td style="width:68px">
			                    <a href="{{ path('oportunityresearch_show', { 'id': oportunityResearch.id }) }}" class="btn btn-info btn-sm" role="button" style="margin-bottom: 10px; width:52px">Ver</a>
			                    <a href="{{ path('oportunityresearch_edit', { 'id': oportunityResearch.id }) }}" class="btn btn-primary btn-sm" role="button" style="width:52px">Editar</a>
			                </td>
			            </tr>
			        {% endfor %}
			        </tbody>
			    </table>
		    </div>
      </div>
    </div>
    
    <script type="text/javascript">

window.addEventListener("load", function(evt) {
      document.getElementById("search-form").style.width = "115px";

      $('<div class="col-md-12 text-center"><ul class="pagination " id="pagerSelector2"></ul</div>').insertAfter($('#paginable2').parent());
      $('#paginable2').pageMe({pagerSelector:'#pagerSelector2',showPrevNext:true,hidePageNumbers:false,perPage:10});
    })

  </script>

{% endblock %}
