{% extends 'base.html.twig' %}

{% block body %}
    <h1>Notificaciones</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Mensaje</th>
                <th>Fecha envío</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for notification in notifications %}
            <tr>
                <td><a href="{{ path('notification_show', { 'id': notification.id }) }}">{{ notification.id }}</a></td>
                <td>{{ notification.message }}</td>
                <td>{% if notification.timestamp %}{{ notification.timestamp|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <a href="{{ path('notification_show', { 'id': notification.id }) }}" class="btn btn-info btn-sm" role="button">Ver</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('notification_new') }}" class="btn btn-primary btn-sm" role="button">Enviar Nueva Notificacion</a>

{% endblock %}
