{% extends 'base.html.twig' %}

{% block body %}
    <h1>Notificación {{ notification.id }}</h1>

    <table>
        <tbody>
            <tr>
                <th>De: </th>
                <td>{{ notification.sender.username }}</td>
            </tr>
            <tr>
                <th>Para: </th>
                <td>{{ notification.reciever.username }}</td>
            </tr>
            <tr>
                <th>Mensaje: </th>
                <td>{{ notification.message }}</td>
            </tr>
            <tr>
                <th>Enviado el:&nbsp;&nbsp; </th>

                <td>  {% if notification.timestamp %}{{ notification.timestamp|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

            <a href="{{ path('notification_index') }}" class="btn btn-info btn1" role="button" >Listar Notificaciones</a>
            {{ form_start(delete_form) }}
                <input type="submit" value="Eliminar" class="btn btn-danger btn2" role="button">
            {{ form_end(delete_form) }}
{% endblock %}
