{% extends 'base.html.twig' %}

{% block body %}
    <h1>Notificación {{ notification.id }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>De: </th>
                {% if notification.systemMessage %}
                    <td>Mensaje del systema</td>
                {% else %}
                    <td>{{ notification.sender.username }}</td>
                {% endif %}
            </tr>
            <tr>
                <th>Para: </th>
                <td>{{ notification.reciever.username }}</td>
            </tr>
            <tr>
                <th>Mensaje: </th>
                {% if notification.systemMessage %}
                    <td>{{ (notification.message | replace ({'@<': reply_ini,'>@': reply_end}) ) | raw}}</td>
                {% else %}
                    <td>{{ notification.message }}</td>
                {% endif %}
            </tr>
            <tr>
                <th>Enviado el:&nbsp;&nbsp; </th>

                <td>  {% if notification.timestamp %}{{ notification.timestamp|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    {% if not notification.systemMessage %}
        {% if current_id != notification.sender.id %}
            <form action="{{ path('notification_new') }}" method="post" target="_blank">
                <input type="hidden" name="recieverId" value="{{ notification.sender.id }}">
                <input type="submit" value="Responder" class="btn btn-primary btn1">
            </form>
        {% endif %}
    {% endif %}

            <a href="{{ path('notification_index') }}" class="btn btn-info btn1" role="button" >Listar Notificaciones</a>
            {{ form_start(delete_form) }}
                <input type="submit" value="Eliminar" class="btn btn-danger btn2" role="button">
            {{ form_end(delete_form) }}
{% endblock %}
