<!DOCTYPE html>




<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}SIGI{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('bundles/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet"/>
            <link href="{{ asset('css/main.css') }}" rel="stylesheet"/>
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>

    <!-- navbar menu!!! -->
        <header>
            <nav class="navbar navbar-default navbar-static-top navbar-inverse">
              <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="#">SIGI</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">  
                  <ul class="nav navbar-nav">
                    
                    {% if is_granted(['ROLE_MENTOR','ROLE_STUDENT','ROLE_OTHER']) %}
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Notificaciones <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                          <li><a href="{{path('notification_new')}}">Enviar Nueva</a></li>
                          <li><a href="{{path('notification_index')}}">Ver Listado</a></li>
                        </ul>
                      </li>
                    {% endif %}

                    {% if is_granted(['ROLE_MENTOR','ROLE_STUDENT']) %}
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Aplicar <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                          {% if is_granted('ROLE_STUDENT') %}
                            <li><a href="{{path('application_new')}}">Crear Nueva</a></li>
                          {% endif %}
                          <li><a href="{{path('application_index')}}">Ver Listado</a></li>
                        </ul>
                      </li>
                    {% endif %}

                    {% if is_granted(['ROLE_MENTOR','ROLE_STUDENT','ROLE_OTHER']) %}
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Oportunidades <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                          {% if is_granted('ROLE_MENTOR') %}
                            <li><a href="{{path('oportunityresearch_new')}}">Crear Nueva</a></li>
                            <li><a href="{{path('oportunityresearch_index')}}">Mis Oportunidades</a></li>
                          {% endif %}
                            <li><a href="{{path('listOportunities')}}">Ver Listado</a></li>
                        </ul>
                      </li>
                    {% endif %}

                    {% if is_granted('ROLE_MENTOR') %}
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Requisitos <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                          <li><a href="{{path('requirement_new')}}">Crear Nuevo</a></li>
                          <li><a href="{{path('requirement_index')}}">Ver Listado</a></li>
                        </ul>
                      </li>

                      <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Keywords <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a href="{{path('keyword_new')}}">Crear Nueva</a></li>
                        <li><a href="{{path('keyword_index')}}">Ver Listado</a></li>
                      </ul>
                    </li>
                    {% endif %}

                    {% if is_granted(['ROLE_MENTOR','ROLE_STUDENT']) %}
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Departamentos <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                          {% if is_granted('ROLE_ADMIN') %}
                            <li><a href="{{path('department_new')}}">Crear Nuevo</a></li>
                          {% endif %}
                          <li><a href="{{path('department_index')}}">Ver Listado</a></li>
                        </ul>
                      </li>

                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Investigación <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                          {% if is_granted('ROLE_ADMIN') %}
                            <li><a href="{{path('research_new')}}">Crear Nueva</a></li>
                          {% endif %}
                          <li><a href="{{path('research_index')}}">Ver Listado</a></li>
                        </ul>
                      </li>  
                    {% endif %}

                    {% if is_granted('ROLE_ADMIN') %}
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Usuarios <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                          <li><a href="{{path('user_new')}}">Crear Nuevo</a></li>
                          <li><a href="{{path('user_index')}}">Ver Listado</a></li>
                        </ul>
                      </li>
                    {% endif %}
                  </ul>

                  

                  <ul class="nav navbar-nav navbar-right">
                    <form class="navbar-form navbar-left" role="search">
                      <div class="form-group">
                        <input type="text" class="form-control" placeholder="Oportunidad...">
                      </div>
                      <button type="submit" class="btn btn-default">Buscar</button>
                    </form>
                    {% if is_granted(['IS_AUTHENTICATED_FULLY', 'IS_AUTHENTICATED_REMEMBERED']) %}
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ app.user.name }} {{ app.user.lastname }} <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                          <li><a href="{{ path('user_show', { 'id': app.user.id }) }}">Perfil</a></li>
                          <li><a href="#">Oportunidades</a></li>
                          <li role="separator" class="divider"></li>
                          <li><a href="{{path('logout')}}">Cerrar Sesión</a></li>
                        </ul>
                      </li>
                    {% else %}
                      <li><a href="{{path('notification_index')}}">Iniciar Sesión</a></li>
                    {% endif %}
                  </ul>
                </div><!-- /.navbar-collapse -->
              </div><!-- /.container-fluid -->
            </nav>
        </header>
        <!-- fin navbar menu!! -->
    <body>

        {% block body %}
        {% endblock %}

        
        {% block javascripts %}
            <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>   
            <script src="{{ asset('bundles/bootstrap/js/bootstrap.min.js') }}"></script>
        {% endblock %}
    </body>
</html>
