{% extends 'base.html.twig' %}

{% block body %}
    <h1>Lista de keywords</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Keyword</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody id="paginable">
        {% for keyword in keywords %}
            <tr>
                <td><a href="{{ path('keyword_show', { 'id': keyword.id }) }}">{{ keyword.id }}</a></td>
                <td>{{ keyword.keyword }}</td>
                <td><a href="{{ path('keyword_show', { 'id': keyword.id }) }}" class="btn btn-info btn-sm" role="button">Ver</a></td>
                <td><a href="{{ path('keyword_edit', { 'id': keyword.id }) }}" class="btn btn-primary btn-sm" role="button">Editar</a></tr>
        {% endfor %}

        
        </tbody>
    </table>

    <a href="{{ path('keyword_new') }}" class="btn btn-primary btn-sm" role="button">Crear Nueva Keyword</a>
{% endblock %}
