{% extends 'base.html.twig' %}

{% block body %}
    <h1>Keyword {{ keyword.id }}</h1>

    <table>
        <tbody>
            <tr>
                <th>Id:</th>
                <td>{{ keyword.id }}</td>
            </tr>
            <tr>
                <th>Keyword:&nbsp;&nbsp;</th>
                <td>{{ keyword.keyword }}</td>
            </tr>
        </tbody>
    </table>


        
    <a href="{{ path('keyword_index') }}" class="btn btn-info btn1" role="button" >Listar Keywords</a>
    <a href="{{ path('keyword_edit', { 'id': keyword.id }) }}" class="btn btn-primary btn2" role="button">Editar</a>
    {{ form_start(delete_form) }}
        <input type="submit" value="Eliminar" class="btn btn-danger btn2" role="button">
    {{ form_end(delete_form) }}
{% endblock %}
