{% extends 'base.html.twig' %}

{% block body %}
    <h1>TimeLimit list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Days</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for timeLimit in timeLimits %}
            <tr>
                <td><a href="{{ path('timelimit_show', { 'id': timeLimit.id }) }}">{{ timeLimit.id }}</a></td>
                <td>{{ timeLimit.name }}</td>
                <td>{{ timeLimit.days }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('timelimit_show', { 'id': timeLimit.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('timelimit_edit', { 'id': timeLimit.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('timelimit_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
