{% extends 'base.html.twig' %}

{% block body %}
    <h1>Limites de Tiempo</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Dias</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for timeLimit in timeLimits %}
            <tr>
                <td><a href="{{ path('timelimit_show', { 'id': timeLimit.id }) }}">{{ timeLimit.id }}</a></td>
                <td>{{ timeLimit.name }}</td>
                <td>{{ timeLimit.days }}</td>
                <td><a href="{{ path('timelimit_show', { 'id': timeLimit.id }) }}" class="btn btn-info btn-sm" role="button">Ver</a></td>
                <td><a href="{{ path('timelimit_edit', { 'id': timeLimit.id }) }}" class="btn btn-primary btn-sm" role="button">Editar</a></tr>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('timelimit_new') }}" class="btn btn-primary btn-sm" role="button">Crear Nueva</a>
{% endblock %}
