{% extends 'base.html.twig' %}

{% block body %}
    <h1>Limite de Tiempo</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ timeLimit.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ timeLimit.name }}</td>
            </tr>
            <tr>
                <th>Days</th>
                <td>{{ timeLimit.days }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('timelimit_index') }}" class="btn btn-info btn1" role="button" >Ver Listado</a>
    <a href="{{ path('timelimit_edit', { 'id': timeLimit.id }) }}" class="btn btn-primary btn2" role="button">Editar</a>
        {{ form_start(delete_form) }}
            <input type="submit" value="Eliminar" class="btn btn-danger btn2" role="button">
        {{ form_end(delete_form) }}
{% endblock %}
